* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 10px 5px;
}
button:hover {
    background-color: green;
    color: #fff;
    border: none;
}
button:hover::before {
    content: "¡Hec";
}
button:hover::after {
    content: "ho!";
}
button::before {
    content: "Pasa por ";
}
button::after {
    content: "encima";
}